In [1]:
#Importing necessary libraries
import numpy as np
import pandas as pd

In [2]:
#Creating index for the table
hr=["00","01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23"]
minute=["00","15","30","45"]
times=[]
for i in range(0,24):
    for j in range (0,4):
        times.append(int(hr[i]+minute[j]))
print(times)

[0, 15, 30, 45, 100, 115, 130, 145, 200, 215, 230, 245, 300, 315, 330, 345, 400, 415, 430, 445, 500, 515, 530, 545, 600, 615, 630, 645, 700, 715, 730, 745, 800, 815, 830, 845, 900, 915, 930, 945, 1000, 1015, 1030, 1045, 1100, 1115, 1130, 1145, 1200, 1215, 1230, 1245, 1300, 1315, 1330, 1345, 1400, 1415, 1430, 1445, 1500, 1515, 1530, 1545, 1600, 1615, 1630, 1645, 1700, 1715, 1730, 1745, 1800, 1815, 1830, 1845, 1900, 1915, 1930, 1945, 2000, 2015, 2030, 2045, 2100, 2115, 2130, 2145, 2200, 2215, 2230, 2245, 2300, 2315, 2330, 2345]

In [3]:
numCols=3
#times=pd.to_datetime(times, format="%H%M")
#timess=times.strftime("%H:%M")

#print(timess)

In [4]:
#Creating dataframe table with time as index and the three rooms as columns
data=pd.DataFrame(index=times,columns=range(numCols))

In [5]:
column_names=["C-Cave","D-Tower","M-Mansion"]

In [6]:
data.columns=column_names

In [7]:
data.tail()

     C-Cave D-Tower M-Mansion
2245    NaN     NaN       NaN
2300    NaN     NaN       NaN
2315    NaN     NaN       NaN
2330    NaN     NaN       NaN
2345    NaN     NaN       NaN

In [8]:
#Buffer time 
data.at[900,:]="buffer"
data.at[1315,:]="buffer"
data.at[1330,:]="buffer"
data.at[1845,:]="buffer"

In [9]:
#inputing
new_entry=input("Enter the details")
first_word=new_entry.split(" ")[0]
start_time=new_entry.split(" ")[1]
end_time=new_entry.split(" ")[2]
if(first_word!="VACANCY"):
                capacity=int(new_entry.split(" ")[3])
print(first_word)
print(start_time)
print(end_time)
#print(capacity)

Enter the detailsBOOK 10:00 10:30 8
BOOK
10:00
10:30

In [10]:
#function to book r room
def booking(timestart,timeend,capacity):
    locations=[]
    def booking_sub(timestart,timeend,room):
        t=timestart
        while(t<timeend):
            if pd.isnull(data.loc[t,room]):
                locations.append(t)
                print(locations)
                match=str(t)
                if match[3:]=="45":
                    t=t+55
                else:t=t+15
                print(t)
            else:
                return("NO_VACANT_ROOM")
        for i in locations:
            data.at[i,room]="booked"
        return("BOOKED")
    status1=status2=status3="NULL"
    if capacity<=3:
        room="C-Cave"
        status1=booking_sub(timestart,timeend,room)
        if status1=="BOOKED":
            return("BOOKED",room)
    if (3<capacity and capacity<=7) or (status1=="NO_VACANT_ROOM"):
        room="D-Tower"
        status2=booking_sub(timestart,timeend,room)
        print(status2)
        if status2=="BOOKED":
            return("BOOKED",room)
    if 7<capacity and capacity<=20 or status2=="NO_VACANT_ROOM":
        room="M-Mansion"
        status3=booking_sub(timestart,timeend,room)
        if status3=="BOOKED":
            return("BOOKED",room)
        else:return("BOOKING UNSUCCESSFUL")

In [11]:
#Function to check for vacant room
def vacancy(timestart,timeend):
    rooms=["C-Cave","D-Tower","M-Mansion"]
    available_rooms=[]
    def vac(timestart,timeend,room):
        t=timestart
        while(t<timeend):
            if pd.isnull(data.loc[t,room]):
                #locations.append(t)
                match=str(t)
                if match[3:]=="45":
                    t=t+55
                else:t=t+15
            else:
                return("NO_VACANT_ROOM")
                break
        return(room)
    for room in rooms:
        result=vac(timestart,timeend,room)
        if result!="NO_VACANT_ROOM":
            available_rooms.append(room)
    return available_rooms

In [12]:
Processing the input and calling the function
start_hour=int(start_time.split(":")[0])
start_min=int(start_time.split(":")[1])
end_hour=int(end_time.split(":")[0])
end_min=int(end_time.split(":")[1])
timestart=int(start_time.split(":")[0]+start_time.split(":")[1])
timeend=int(end_time.split(":")[0]+end_time.split(":")[1])
print(start_hour)
print(start_min)
print(end_hour)
vacancy_list=[]
print(end_min)
if start_hour>end_hour:
    print("No_VACANT_ROOM")
elif(start_min>end_min and start_hour==end_hour):
    print("No_VACANT_ROOM")
elif((start_min!=0 and start_min%15!=0 )or start_min>60):
    print("NO_VACANT_ROOM")
elif(capacity>20 or capacity<2):
    print("NO_VACANT_ROOM")
elif(first_word=="BOOK"):
    out=booking(timestart,timeend,capacity)
elif(first_word=="VACANCY"):
    vacancy_list=vacancy(timestart,timeend)
else:print("check your input format")
print(out)
print(vacancy_list)

10
0
10
30
[1000]
1015
[1000, 1015]
1030
('BOOKED', 'M-Mansion')
[]